@charset "utf-8";

/* header */
header {
    height: 100px;
    /* background: url(../img/pngegg.png)center */;

}
header .inner h1 {
    margin-top: 20px;    
}
header .inner h1 img {
    width: 150px;
}

header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color: #fff;
    
}
header .inner ul li {
    display: inline-block;
}
header .inner nav ul li {
    font-size: 20px;
    margin: 0 35px;
    font-weight:800;
    
  
}
header .inner .right_menu li:nth-child(1) {
    margin-right: 20px;
    
}

/*  .main_visual */
.main_visual {
    /* width: calc(100% - 200px);
    height: calc(100vh - 100px);
    margin: 0 auto; */
    width:1800px;
    margin: 0 auto;
    position: relative;
  
}
.main_visual video {
    height: 800px;
    width: 100%;
    object-fit: cover;   
    margin-top: 30px;
}

.main_visual p {
    position: absolute;
    bottom: 40%;
    left: 38%;
    color: #fff;
    font-size: 80px;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
}






/*  .video */
.video {
   padding: 180px 0;
   background:url(../img/og.png)right top no-repeat;
   animation: displace 7s linear infinite;   
}

@keyframes displace {
    from { background-position: right 500px;
    } to { background-position: bottom 0px }
}

.video .tab_menu li {
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.video .tab_menu li.on {
    position: relative;
    color: #fff;
}
.video .tab_menu li.on::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
     
}

.video .inner .title {
    color: #fff;
}
/* 스와이퍼 버튼색 */
.swiper-pagination {
    color: #fff;
}
.swiper-button-prev::after {
    color: #D2B48C;
}
.swiper-button-next::after {
    color: #D2B48C;
}

/* swiper-slied */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }








.video .list {
    padding-top: 100px;
}
.video .list .list_in {
    display: none;
}
.video .list .list_in.on {
    display: block;
}

.video .list .list_in .swiper-slide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video .list .list_in .swiper-slide .youtube_wrap {
    width: 60%;
}
.video .list .list_in .swiper-slide .youtube_wrap .youtube {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}
.video .list .list_in .swiper-slide .youtube_wrap .youtube iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.video .list .list_in .swiper-slide .info {
    width: 40%;
    padding-left: 50px;
}
.video .list .list_in .swiper-slide .info h4 {
    font-size: 25px; 
    font-family: 'Nanum Myeongjo';
    color: #fff;
}
.video .list .list_in .swiper-slide .info p {
    margin: 10px 0 20px;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
    color: #fff;
}
.video .list .list_in .swiper-slide .info dl {
    display: flex;
    margin-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
}
.video .list .list_in .swiper-slide .info dl dt {
    width: 90px;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
}
.video .list .list_in .swiper-slide .info dl dd {
    width: 440px;
    line-height: 1.5;
    color:#fff;
}
.video .list .list_in .swiper-slide .info .btn {
    margin-top: 120px;
}
.video .list .list_in .swiper-slide .info .btn li:nth-child(1) {
    background-color: tan;
}

/* 슬라이드 버튼, 페이징 위치 변경 */
.video .list {
    position: relative;
}
.video .swiper {
    position: static;
}
.video .swiper-button-next {
    top: 25px; 
    right: auto;
    left: 100px;
    margin-top: 0;
}
.video .swiper-button-prev {
    top: 25px; 
    left: 0;
    margin-top: 0;
}
.video .swiper-pagination {
    bottom: auto;
    top: 38px;
    width: auto;
    left: 40px;
}







/* .web */
.web {
    padding: 180px 0;
    background: url(../img/pngegg.png)center no-repeat;
    
}



.web .inner .title {
    color: #fff;
}

.web .inner .title p {
    font-family: 'Noto Sans KR', sans-serif;
}
.web .title {
    text-align: center;
}
.web .list {
    display: flex;
    justify-content: center;
}
.web .list .item {
    width: calc(100% / 3 - 15px);
    margin: 0 7px;
}
.web .list .item figure {
    width: 100%;
    height: 450px;
    
}

.web .inner .list .item:nth-child(1) {
    margin-right: 300px;
    
}











.web .list .item figure img {
    width: 464px;
    height: 100%;
    /* object-fit: cover;
     */
}
.web .list .item .info {
    background-color: #fff;
    padding: 40px;
}
.web .list .item .info h4 {
    font-size: 25px;
}
.web .list .item .info p {
    font-size: 14px;
    line-height: 1.3;
    margin: 8px 0 20px;
    font-family: 'Noto Sans KR', sans-serif;
}
.web .list .item .info dl {
    display: flex;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}
.web .list .item .info dl dt {
    margin-right: 20px;
    font-weight: bold;
}
.web .list .item .info .btn {
    margin-top: 40px;
}

/*  .graphic */
.graphic {
    padding: 180px 0;
    color: #fff;
}
.graphic .title {
    text-align: center;
}
.graphic .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /* item들을 가로로 나열
    양끝에 붙여서 정렬 
    item이 4개까지 배치되고 그 이상은
    밑으로 떨어지도록 설정*/
    

}
.graphic .list .item {
    /* 가로값 : 전체에서 4개씩 배치 item 사이 간격은 15px */
    width: calc(100% / 4 - 15px);
    margin-bottom: 30px;
}



.graphic .list .item a img {
    /* 이미지 높이 340px */
    width: 100%;
    height: 340px;
    object-fit: cover;
}
.graphic .list .item .info h4 {
    margin: 15px 0 10px;
    font-size: 25px;
}

/* .profile */
.profile {
    padding: 180 0;
     background-color:#999
}

.profile .list {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.profile .list figure {
    width: 400px;
    height: 400px;
}

.profile .list figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile .list .info {
    width: 1000px;
    padding-left: 100px;
}

.profile .list .info ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 10px 0;
}

.profile .list .info ul li strong {
   width: 180px;
   display: inline-block;
}

.profile .list .info .skill {
    margin-top: 40px;
}

.profile .list .info .skill li {
    height: 50px;
    line-height: 50px;
    border-radius: 40px;
    font-size: 16px;
    background-color: #d2b48c;
    color: #333;
    margin: 5px;
    padding: 0 30px;
}
.profile .list .info .skill li.w {
    background-color: #333;
    color: #fff;
}

/* footer */
footer {
    padding: 70px 0;
    background-color: #333;
    color: #fff;
    text-align: center;
   
}

footer li {
    height: 50px;
    width: 200px;
    background-color:#d2b48c;
    color: #333;
    margin: 10px auto;
    border-radius: 40px;
    line-height: 50px;
    
}
footer ul li a {
    display: block;
}

footer ul {
    margin-bottom: 40px;
}

footer p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.534);
}



/* loading */
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

.loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}