@charset "utf-8";
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }

   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    line-height: 1;
    background-color: #262626;
    
}


header {
/* background-color: #262626; */
height: 150px;
/* position:absolute;
top: 0;
left: 0; */
width: 100%;
line-height: 135px;
z-index: 9;
}

header .inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    
}



header .inner ul li {
    display: inline-block;
    padding: 0 42px 0 0;
    font-size: 15px;
    font-family: 'Malgun Gothic';
}

header .inner nav ul li {
    margin: 0 90px;
    font-size: 20px;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
}

body header .inner img {
    width: 192px;
    height: 58px;
    margin-top: 40px;
    margin-left: 240px;
}

/* main visual */

.main_visual {
    height: 650px;
}
.main_visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.main_visual_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main_visual_text p {
    text-align: center;
    font-size: 60px;
    color: #fff;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.705);
    padding: 0 0 150px 0;
}
/* cont01*/



.cont01 {
    padding: 150px 0;
}

.cont01 .inner .list {
    display: flex;
    justify-content: center;
}

.cont01 .inner .list .item01 {
    margin-top: 29px;
    margin-right: 36px;
}
.cont01 .inner .list .item02 {
    margin-right: 36px;
}

.cont01 .inner .list .item01 div p {
    color: #fff;
    font-size: 18px;
    font-family: 'Malgun Gothic';
    font-weight: bold;
    width: 110px;
    height: 40px;
    background-color: #333;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 20px;
    left: 30px;
}
.cont01 .inner .list .item02 div p {
    color: #fff;
    font-size: 18px;
    font-family: 'Malgun Gothic';
    font-weight: bold;
    width: 110px;
    height: 40px;
    background-color: #333;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 20px;
    left: 30px;
}

.cont01 .inner .list .item01 div li {
    color: #fff;
    font-size: 25px;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 30px;
    text-decoration:none;
}

.cont01 .inner .list .item02 div li {
    color: #fff;
    font-size: 25px;
    font-family: 'NanumBarunGothic';
    font-weight: bold;
    position: absolute;
    top:70px;
    left:30px;
    text-decoration:none;
}

.cont01 .inner .list .item01 {
    position: relative;
}
.cont01 .inner .list .item02 {
    position: relative;
}
.cont01 .inner .list .item01 li {
    font-size: 15;
    font-weight: bold;
    color: #fff;
    font-family: 'Malgun Gothic';
    position: absolute;
    top: 503px;
    left: 50px;
    text-decoration:underline
}
.cont01 .inner .list .item02 li {
    font-size: 15;
    font-weight: bold;
    color: #fff;
    font-family: 'Malgun Gothic';
    position: absolute;
    top: 563px;
    left: 50px;
    text-decoration:underline
}

.cont01 .inner .list .item01 span {
    font-size: 25px;
    color: #fff;
    width: 400px;
    height: 50px;
    background-color: #333;
    font-weight: bold;
    font-family: 'NanumBarunGothic';
    text-align: center;
    display: block;
    line-height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 540px;
    left: 28px;

}




.cont01 .inner .list .item02 span {
    font-size: 25px;
    color: #fff;
    width: 400px;
    height: 50px;
    background-color: #333;
    font-weight: bold;
    font-family: 'NanumBarunGothic';
    text-align: center;
    display: block;
    line-height: 50px;
    border-radius: 25px;
    position: absolute;
    top: 600px;
    left: 28px;
}





.cont01 .inner .list .item01 div {
    position: relative;
}
.cont01 .inner .list .item02 div {
    position: relative;
}
.cont01 .inner .list .item01 div img {
    width: 456px;
    height: 620px;
    object-fit: cover;
   
    
}

/* cont02  */
.cont02 {
    margin-top: 50px;
    background: url(../img/s4.png);
    width: 100%;
    height: 360px;
}

.cont02 .inner img {
    width: 100%;
    height: 360px;
}


.cont02 .inner .list {
   
}

.cont02 .inner .list p {
    font-size: 50px;
    font-weight: bold;
    font-family: 'NanumBarunGothic';
    color: #fff;
    text-align: center;
    padding: 129px 0 0 0 ;
    
}

.cont02 .inner .list li {
    font-family: 'NanumBarunGothic';
    font-size: 30px;
    color: #fff;
    text-align: center;
  /*   padding: 0 0 195px 0 ; */
    
}


span::after {
    content: '';
    width: 2%;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-left: 1470px;
    border-radius: 1%;

}

.cont02 .inner .list span {
    font-family: 'Malgun Gothic';
    font-size: 18px;
    color: #fff;
    text-align: center;
    display: block;
    padding: 0 0 278px 0 ;
    margin-top: 56px;
    font-weight: bold;
}

/* cont03 */

.cont03 {
    margin-top: 200px;
    /* background-color: #333; */
  
}

.cont03 .inner .list {
    display: flex;
    justify-content: center;
    
}


.cont03 .inner .list .item01 {
    margin-right: 282px;
    margin-top: 360px;

    
}


.cont03 .inner .list .item01 div li {
    font-size: 30px;
    font-weight: bold;
    font-family: 'NanumBarunGothic';
    color: #fff;
  /*   position: absolute;
    bottom: 150px;
    right:  100px; */
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cont03 .inner .list .item01 div p {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Malgun Gothic';
    color: #fff;
   /*  position: absolute;
    bottom: 150px;
    right: 10px; */
    text-align: center;

}

.cont03 .inner .list .item02 div li {
    font-size: 30px;
    font-weight: bold;
    font-family: 'NanumBarunGothic';
    color: #fff;
   /*  position: absolute;
    top: 0px;
    right: 400px */
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cont03 .inner .list .item02 div p {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Malgun Gothic';
    color:#fff;
   /*  position: absolute;
    top: 614px;
    right: 10px; */
    text-align: center;

}

/* cont04 */

.cont04 {
    margin-top: 200px;
 
    height: 100%;
    object-fit: cover;

}

.cont04 .inner p {
    font-size:50px;
    font-weight: bold;
    font-family: 'NanumBarunGothic';
    color: #fff;
    /* text-align: center; */
   /*  margin-bottom: 20px; */
    position: absolute;
    z-index: 1;
    left: 546px;
    margin-top: 130px;
    
}
.cont04 .inner div img {
    width: 50%;
    position: relative;
   
}

.cont04 .inner div {
    display: flex;
}

/* footer */

footer {
    color: #fff;
}
footer hr {
    margin: 0 auto;
    width: 1440px;
}
footer .inner .list {
    display: flex;
    justify-content: left;
 
}

footer .inner .list div ul {
    margin-top: 60px;
    
}

footer .inner .list .item1 ul {
    margin-left: 240px;
}
footer .inner .list .item2 ul {
    margin-right: 117px;
    margin-left: 117px;
}




footer .inner .list div ul li {
    font-size: 15px;
    font-family: 'NanumBarunGothic';
    margin-bottom: 32px;

}

footer .item01 div {
    display: flex;
    justify-content: right;
}

footer .item01 div p {
    margin-top: 81px;
    font-size: 13px;
    font-family: 'Malgun Gothic';
    text-align: center;
    margin-bottom: 20px;
    

}

footer .item01 div p:nth-child(3) {
    margin-right: 240px;

}
footer .item01 div p:nth-child(2){
    margin-left: 33px;
    margin-right: 33px;
}

footer .item02 .list div {
    display: flex;
    justify-content:left;
      
}

footer .item02 .list div img {
    width: 192px;
    height: 58px;
   /*  margin-left: 240px; */
   margin-top: 45px;
   margin-bottom: 45px;
    
}
footer .item02 .list div p {
  /*   padding: 20px 480px 0 540px;
    text-align: center; */
    margin-right: 540px;
    margin-top: 68px;
    font-size: 14px;
    font-family: 'NanumBarunGothic';
}  
footer .item02 .list div img:nth-child(1) {
    margin-left: 240px;
    margin-right: 469px;
}
footer .item02 .list div img:nth-child(3) {
    width: 40px;
    height: 40px;
    margin-top: 56px;
}
footer .item02 .list div img:nth-child(4) {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    margin-top: 56px;
}









